body {
  font-family: arial;
  background-image: linear-gradient(
    45deg,
    rgb(144, 227, 255),
    rgb(43, 169, 247)
  );
  height: 100vh;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#weather {
  display: block;
  font-size: 40px;
  text-align: center;
}

#locationInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  max-width: 35%;
}

input {
  font-size: 25px;
}

button {
  font-size: 25px;
}
