body {
  font-family: arial;
  background-image: linear-gradient(
    45deg,
    rgb(144, 227, 255),
    rgb(43, 169, 247)
  );
  height: 100vh;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#weather {
  display: none;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
  border: 10px solid white;
  border-radius: 15px;
}

#locationInput {
  display: block;
  margin: 0 auto;
  font-size: 30px;
  max-width: 500px;
}

input {
  font-size: 25px;
}

#buttonContainer {
  width: 250px;
  margin: 0 auto;
  margin-top: 20px;
}

button {
  font-size: 25px;
}

.dailyForecast {
  height: 300px;
  margin: 20px;
  border: 10px solid black;
}

#threeDayContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

p {
  font-size: 20px;
}
